@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --White: hsl(0, 0%, 100%);
    --Stone_100: hsl(30, 54%, 90%);
    --Stone_150: hsl(30, 18%, 87%);
    --Stone_600: hsl(30, 10%, 34%);
    --Stone_900: hsl(24, 5%, 18%);
    --Brown_800: hsl(14, 45%, 36%);
    --Rose_800: hsl(332, 51%, 32%);
    --Rose_50: hsl(330, 100%, 98%);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    display: block;
}

body {
    background-color: var(--Stone_100);
    line-height: 1.5;
    color: var(--Stone_600);
}

.card {
    width: 700px;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

hr {
    border: none;
    border-top: 1px solid var(--Stone_150);
    margin: 30px 0;
}

.prep-time {
    background-color: var(--Rose_50);
    border-radius: 20px;
    padding: 10px;
}

h1 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--Stone_900);
}

h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--Brown_800);
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--Rose_800);
}



p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.prep-time ul li::marker {
    color: var(--Rose_800);
}

ol,
ul {
    padding-left: 20px;
}

ul ::marker {
    color: var(--Brown_800);
}

ol ::marker {
    color: var(--Brown_800);
    font-weight: 700;
}

.ingredients li {
    list-style-type: square;
}

li {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 15px;
}

table {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid var(--Stone_150);

}

tr:last-child {
    border-bottom: none;
}

td {
    padding: 10px;
}

.nutri {
    padding-left: 30px;
}

.measures {
    color: var(--Brown_800);
    font-weight: 700;
}